[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
django = "*"
django-heroku = "*"
docutils = "*"
gunicorn = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python manage.py runserver"
static = "python manage.py collectstatic"
test = "python manage.py test"
